*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.loading{
    display:none;
    color:antiquewhite
}

.container{
    width:100%;
    height:100vh;
    background-color: #01161e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location{
    font-size: 3rem;
}

.time{
    display: flex;
    justify-content: center;
    /* margin-left:30%; */
}

.weather_details{
    display: flex;
    align-items: center;
    gap:1rem;
}

.weather{
    z-index:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

.weather_condition{
    display: flex;
    align-items: center;

}

.weather > div {
    margin:0.625rem;
}

.search{
    height:100px;
    padding:1rem 0;
    position: absolute;
    bottom: 0;
    width:100%;
    background-color: rgba(180, 177, 177, 0.202);
}

.search form{
    display:grid;
    grid-template-columns: 5fr 1fr;
    width:70%;
    margin:1rem auto;
}

.searchField{
    font-size:1.1rem;
    outline: none;
    color:white;
    background-color: transparent;
    padding:1rem 0;
    border:none;
    border-bottom: 2px solid white;
    width: 98%;
}

form button{
    background-color: #4ECDC4;
    font-size:1.1rem;
    color:white;
    outline:none;
    border:none;
    cursor: pointer;
}